body{
    background-image: url('../image/fond.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}

.button{
    height:100px;
    width:30px;
}
.tableau{
    border: 1px solid black;
    height: 184px;
    width: 135px;
    background-image: url('../image/panini.PNG');
    background-size: contain;
    margin: 10px;
}

h1{
    font-size: 50px;
    text-align:center;
    font-family: 'Geostar Fill', cursive;
    color:black;
}

.click-disabled{
    pointer-events: none;
}
